body {
    font-family: sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:#0f0f0f;
    color: #ffffff;
}

h1 {
    color: #00ff88;
    font-size: 2rem;
    margin-bottom: 10px;
}

nav a {
    color: #00ff88;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
}